.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}

.col-auto {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
}

.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
}

@media (max-width: 767px) {
  .col-sm-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
  }
  .col-sm-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-sm-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-sm-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
  }
  .col-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
  }
  .col-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
  }
  .col-xl-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-xl-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-xl-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-xl-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-xl-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-xl-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-xl-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-xl-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-xl-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 1400px) {
  .col-xxl-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
  }
  .col-xxl-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-xxl-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-xxl-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-xxl-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-xxl-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-xxl-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-xxl-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-xxl-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-xxl-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

img {
  width: 100%;
  display: block;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-size: 28px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

h4 {
  font-size: 20px;
  font-weight: bold;
}

h5 {
  font-size: 18px;
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

body {
  font-size: 14px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #F4F4F4;
  position: relative;
  font-family: 'Microsoft JhengHei', Arial, Helvetica, sans-serif;
}

body.basic::before {
  content: "";
  background: url(../img/online/loginbg-left.png) left bottom no-repeat;
  background-size: 25%;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

body.basic::after {
  content: "";
  background: url(../img/online/loginbg-right.png) right bottom no-repeat;
  background-size: 25%;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

body.inspect-body {
  background: url(../img/referring/inspect-bg.png) #F4F4F4 right bottom no-repeat;
  width: 100%;
  height: 100%;
}

body.inspect-login {
  background: url(../img/referring/loginbg.jpg) #ffffff right bottom no-repeat;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

.container-full {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.content {
  padding: 20px 0;
}

header.page-head {
  background-color: #ffffff;
}

header.dark-mod {
  background-color: #393939;
  color: #ffffff;
  height: 58px;
  position: relative;
}

header.dark-mod .container-full {
  background-color: #393939;
  height: 58px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

main.business {
  padding: 20px 0 50px;
  min-height: 95vh;
}

main.inspect-mod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

footer {
  background-color: #ffffff;
  padding: 16px;
  font-size: 12px;
  text-align: center;
  min-height: 50px;
}

footer.gray {
  background-color: #4B4B4B;
  color: #ffffff;
}

footer.light-gray {
  background-color: #e0e0e0;
  color: #000000;
}

.m-auto {
  margin: auto;
}

.d-block {
  display: block;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btns {
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
}

.btns .text {
  min-width: 50px;
}

.btns.btn-black {
  background-color: #393939;
  color: #ffffff;
}

.btns.btn-black:hover {
  background-color: #FF5E15;
}

.btns.btn-black-blue {
  background-color: #393939;
  color: #ffffff;
}

.btns.btn-black-blue:hover {
  background-color: #0072EC;
}

.btns.btn-orange {
  background-color: #FF5E15;
  color: #ffffff;
}

.btns.btn-outline-orange {
  background-color: #ffffff;
  color: #FF5E15;
  border: 1px solid #FF5E15;
}

.btns.btn-outline-orange:hover {
  background-color: #FF5E15;
  color: #ffffff;
}

.btns.btn-blue {
  background-color: #0072EC;
  color: #ffffff;
}

.btns.btn-blue:hover {
  background-color: #0a3a92;
}

.btns.btn-outline-blue {
  background-color: #ffffff;
  color: #0072EC;
  border: 1px solid #0072EC;
}

.btns.btn-outline-blue:hover {
  background-color: #0072EC;
  color: #ffffff;
}

.bold {
  font-weight: bold;
}

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 0;
}

.top-nav .sha-logo {
  width: 35px;
  margin: auto 0;
  margin-right: 12px;
}

.top-nav .sha-text {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

@media (max-width: 991px) {
  .top-nav .sha-text {
    display: none;
  }
}

.top-nav .sha-text span {
  font-size: 14px;
}

.top-nav .sha-ips {
  font-size: 12px;
  margin: auto 0;
}

@media (max-width: 991px) {
  .top-nav .sha-ips {
    display: none;
  }
}

.top-nav .mobile-nav {
  padding: 8px 16px 0 0;
  display: none;
}

@media (max-width: 991px) {
  .top-nav .mobile-nav {
    display: block;
  }
}

.top-nav .mobile-nav svg {
  width: 16px;
}

.nav {
  border-top: 1px solid #b8b8b8;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-item {
  font-weight: bold;
  cursor: pointer;
  position: relative;
  padding: 16px;
}

.list-item:first-child {
  padding-left: 0;
}

.list-item .list-item-text {
  position: relative;
}

.list-item .list-item-text svg {
  width: 8px;
}

.list-item:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF5E15;
  width: 100%;
  height: 4px;
}

.list-item:hover .list-item-text {
  color: #FF5E15;
}

.list-item:hover .list-item-text svg {
  fill: #FF5E15;
}

.list-item:hover .list-dropdown-inner {
  display: block;
  z-index: 9;
}

.list-item .list-dropdown-inner {
  background-color: #ffffff;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 300px;
  max-height: 450px;
  overflow-y: scroll;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  display: none;
}

.list-item .list-dropdown-inner .drop-list {
  padding: 16px 8px;
  border-bottom: 1px solid #b8b8b8;
  font-size: 14px;
}

.list-item .list-dropdown-inner .drop-list:last-child {
  border-bottom: 0;
}

.list-item .list-dropdown-inner .drop-list:hover {
  background-color: #FF5E15;
  color: #ffffff;
}

.mobile-nav {
  padding: 8px 0;
  display: none;
}

.mobile-nav .mobile-bar {
  width: 20px;
}

.mobile-nav .mobile-bar:hover {
  fill: #FF5E15;
}

@media screen and (max-width: 991px) {
  .nav-list {
    display: none;
  }
  .nav-list .list-item {
    display: block;
  }
  .mobile-nav {
    display: block;
  }
}

.ip-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #4B4B4B;
  font-size: 12px;
}

.ip-info .ip-company {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.ip-info .ip-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ip-info .ip-user .ip-infos {
  margin-left: 16px;
}

.page-title {
  padding: 16px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #b8b8b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 991px) {
  .page-title {
    display: block;
  }
}

.page-title h3 {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.page-title .page-title-img {
  width: 32px;
  margin: auto;
  margin-right: 8px;
}

.page-title-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-title-btns .btns {
  margin-left: 16px;
}

@media screen and (max-width: 991px) {
  .page-title-btns {
    margin-top: 16px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .page-title-btns .btns {
    margin-left: 0px;
  }
}

.blocky-title {
  margin-bottom: 16px;
  color: #4B4B4B;
}

.notify {
  margin-bottom: 40px;
}

.notify-content {
  background-color: #ffffff;
  border-radius: 8px;
  margin-top: 20px;
}

.notify-content .notify-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  border-bottom: 1px solid #e0e0e0;
}

.notify-content .notify-block:last-child {
  border-bottom: 0;
}

.notify-content .notify-block.head {
  border-radius: 8px 8px 0 0;
  color: #ffffff;
}

.notify-content .notify-block.blue {
  background-color: #0072EC;
}

.notify-content .notify-block.green {
  background-color: #19AD79;
}

.notify-content .notify-block.gray {
  background-color: #757575;
}

.notify-content .notify-block .n-item {
  padding: 0 8px;
  margin: auto 0;
}

.notify-content .notify-block .n-item:first-child {
  padding-left: 0;
}

.notify-content .notify-block .sum {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 80%;
          flex: 1 0 80%;
  max-width: 80%;
}

.notify-content .notify-block .date {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 10%;
          flex: 1 0 10%;
  max-width: 10%;
  text-align: center;
}

.notify-content .notify-block .last {
  margin: auto;
}

.notify-content .notify-block .new {
  border-radius: 4px;
  padding: 2px 4px;
  color: #ffffff;
}

.notify-content .notify-block .new::after {
  content: "new";
}

.notify-content .notify-block .new.blue {
  background-color: #0072EC;
}

.notify-content .notify-block .new.green {
  background-color: #19AD79;
}

.notify-content .notify-block .new.gray {
  background-color: #757575;
}

.notify-content .notify-page ul li {
  display: inline-block;
  padding: 8px;
  color: #757575;
}

input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  width: 100%;
}

input::-webkit-input-placeholder {
  color: #b8b8b8;
}

input:-ms-input-placeholder {
  color: #b8b8b8;
}

input::-ms-input-placeholder {
  color: #b8b8b8;
}

input::placeholder {
  color: #b8b8b8;
}

input[type="radio"] {
  border: 2px solid #757575;
  border-radius: 99em;
  width: 18px;
  height: 18px;
  position: relative;
  margin: auto 4px;
}

input[type="radio"]:checked::after {
  content: "";
  border-radius: 99em;
  width: 8px;
  height: 8px;
  background-color: #757575;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  border: 1px solid #393939;
  border-radius: 4px;
}

input[type="checkbox"]:checked {
  border: 1px solid #FF5E15;
  background-color: #FF5E15;
  background-image: url(../img/check-solid.svg);
  background-position: center;
  background-repeat: no-repeat;
}

select {
  outline: none;
  width: 100%;
}

input,
select {
  cursor: pointer;
  border: 1px solid #F4F4F4;
}

input.input-style,
select.input-style {
  padding: 8px;
  background-color: #F4F4F4;
  border-bottom: 1px solid #757575;
  position: relative;
}

input.input-style:focus,
select.input-style:focus {
  border-bottom: 1px solid #FF5E15;
}

input:focus,
select:focus {
  border: 1px solid #FF5E15;
}

.form-wrap {
  background-color: #ffffff;
  margin-top: 20px;
}

.form-title {
  padding: 16px;
  background-color: #e0e0e0;
}

.form-title .flex-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .form-title .flex-block {
    display: block;
  }
}

.form-title .flex-block .text {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.form-title .text {
  font-size: 14px;
}

.form-title .text span {
  color: #DA1E28;
}

.form-title .text-block {
  margin-bottom: 16px;
}

.form-title .form-title-btn {
  background-color: #393939;
  color: #ffffff;
  margin: -16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 16px;
  cursor: pointer;
}

@media (max-width: 991px) {
  .form-title .form-title-btn {
    margin-top: 16px;
  }
}

.form-title .form-title-btn:hover {
  background-color: #0072EC;
}

.form-title .form-title-btn .text {
  margin: auto 0;
}

.form-title .form-title-btn .icon {
  width: 20px;
  margin: auto 0px;
  margin-left: 8px;
}

.form-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-top {
  margin-bottom: 30px;
}

.form-top .form-name {
  margin-bottom: 8px;
}

.form-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #b8b8b8;
}

.form-col .form-name {
  background-color: #E8F0FE;
  padding: 16px 12px;
  margin-left: -1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  min-width: 200px;
  max-width: 200px;
}

@media (max-width: 991px) {
  .form-col .form-name {
    min-width: 130px;
    max-width: 130px;
  }
}

.form-col .form-name span {
  margin: auto 0;
}

.form-col .form-name.require::after {
  content: "*";
  color: #DA1E28;
  margin: auto 0;
}

.form-col .form-group {
  padding: 12px 16px;
  width: 100%;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -1rem;
}

.form-col .form-group p {
  margin: auto 0;
  padding: 0 8px;
  white-space: nowrap;
}

@media (max-width: 991px) {
  .form-col .form-group p {
    white-space: unset;
  }
}

.form-col .form-group .w-50 {
  width: 60%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.form-col .form-group .input-hint {
  margin: auto 0;
  margin-left: 16px;
}

.form-col .form-group .input-radio {
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-col .form-group .input-radio label {
  padding-right: 32px;
  cursor: pointer;
}

.form-group.error .input-style {
  border: 1px solid #DA1E28;
}

.form-group.error .icon {
  position: relative;
}

.form-group.error .icon::after {
  content: "";
  background: url(../img/online/message-alert.svg) center no-repeat;
  position: absolute;
  right: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.form-group.succes .input-style {
  border: 1px solid #0072EC;
}

.form-group.prefix {
  position: relative;
}

.form-group.prefix input {
  padding-left: 80px;
}

.form-group.prefix::before {
  content: attr(data-prefix);
  position: absolute;
  top: 50%;
  left: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
  color: #757575;
}

.table-part {
  margin-top: 50px;
}

.table-wrap {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  overflow: auto;
  width: 1280px;
  max-width: 100%;
}

.block-title {
  margin-top: 20px;
}

.block-title h4 {
  margin-bottom: 20px;
}

.action-block-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.action-block-wrap .warning-message {
  margin-left: 16px;
}

.action-block {
  background-color: #393939;
  padding: 12px 16px;
  color: #ffffff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-width: 176px;
  cursor: pointer;
}

.action-block:hover {
  background-color: #FF5E15;
}

.action-block.inspect-mod:hover {
  background-color: #0072EC;
}

.action-block .icon {
  width: 16px;
  margin: auto 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.action-block .icon svg {
  margin: auto 0;
}

.action-block .text {
  margin: auto 0;
}

.check-apply {
  background-color: #ffffff;
}

.check-apply thead {
  background-color: #e0e0e0;
  font-size: 14px;
  font-weight: bold;
}

.check-apply tbody tr {
  border-bottom: 1px solid #b8b8b8;
}

.check-apply tbody tr:last-child {
  border-bottom: 0;
}

.check-apply th,
.check-apply td {
  width: 1%;
  white-space: nowrap;
  text-align: left;
}

.check-apply th {
  padding: 8px;
}

.check-apply td {
  padding: 16px 8px;
}

.check-apply td a {
  text-decoration: underline;
  color: #0072EC;
}

.check-apply .td-checkbox {
  width: 1%;
  vertical-align: middle;
  text-align: center;
}

.data-count {
  background-color: #F4F4F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.count {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.count .batch {
  background-color: #393939;
  color: #ffffff;
  margin: auto 0;
}

.count .text {
  margin: auto 0;
}

.count .b-block {
  padding: 16px;
  height: 50px;
}

.pagenation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagenation .p-block {
  padding: 0 16px;
}

.pagenation .p-block.text {
  margin: auto;
}

.pagenation .p-block.page-arrow-wrap {
  padding-right: 0;
}

.pagenation .p-block select {
  height: 50px;
}

.pagenation .page-style {
  background-color: #e0e0e0;
  border: 0;
  padding: 8px 16px;
}

.page-arrow-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-arrow-wrap .page-arrow {
  padding: 8px 16px;
  background-color: #e0e0e0;
  font-size: 14px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-arrow-wrap .page-arrow span {
  margin: auto;
}

.page-arrow-wrap .page-arrow:hover {
  background-color: #b8b8b8;
}

.warning-message {
  color: #DA1E28;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.warning-message .message-img {
  width: 20px;
  margin: auto 0;
  margin-right: 8px;
}

.warning-message h4 {
  margin: auto 0;
}

@media (max-width: 991px) {
  .carousel-part {
    display: none !important;
  }
}

.operate-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}

@media (max-width: 991px) {
  .operate-part {
    display: block;
  }
}

.operate-part .o-block {
  background-color: #ffffff;
  padding: 16px;
}

.operate-part .o-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.operate-part .o-title h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  margin: auto 0;
}

.operate-part .o-title h4::after {
  content: "";
  width: 20px;
  height: 3px;
  background-color: #FF5E15;
  margin: auto 0;
  margin-bottom: 0;
}

.operate-part .home-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60%;
          flex: 1 0 60%;
}

@media (max-width: 991px) {
  .operate-part .home-info {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    max-width: 100%;
  }
}

.operate-part .login-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  margin-left: 30px;
}

@media (max-width: 991px) {
  .operate-part .login-info {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    max-width: 100%;
    margin-left: 0px;
    margin-top: 30px;
  }
}

.tab-list {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tab-list .list-each {
  margin-right: 16px;
  background-color: #e0e0e0;
  padding: 8px 16px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.tab-list .list-each:last-child {
  margin-right: 0;
}

.tab-list .list-each.active {
  background-color: #FF5E15;
  color: #ffffff;
}

.content-each ul li {
  border-bottom: 1px solid #e0e0e0;
  padding: 16px 0;
  padding-left: 24px;
  position: relative;
  min-height: 50px;
  font-size: 14px;
}

.content-each ul li a::after {
  content: "";
  background: url(../img/angle-right-solid.svg) center no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.content-each ul li a:hover {
  color: #0072EC;
}

.service-part {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service-part .service-title {
  color: #FF5E15;
  font-weight: bold;
  margin-right: 8px;
}

.service-part .service-link a:hover {
  color: #0072EC;
}

.login-form .l-block {
  padding: 16px 0;
}

.forgot-p {
  font-size: 14px;
  color: #757575;
  margin: 8px 0;
  display: block;
}

.forgot-p a {
  color: #FF5E15;
}

.verify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

.verify .form-group {
  padding: 0;
}

.verify .verify-img {
  padding: 0 16px;
}

.verify .qrcode-img {
  width: 100px;
  max-width: 100px;
}

.verify .make-qrcode {
  margin: auto 0;
  margin-left: 20px;
}

.verify .make-qrcode .btns {
  display: block;
  margin: 8px 0;
}

.verify .make-qrcode span {
  color: #757575;
}

.login-btn a {
  display: block;
}

.login-btn-option {
  margin-top: 30px;
}

.login-btn-option span {
  font-size: 12px;
}

.login-ip {
  display: block;
  margin-top: 16px;
  color: #757575;
  font-size: 14px;
}

.carousel-block {
  position: relative;
}

.carousel-block .big-title {
  position: absolute;
  bottom: 15%;
  color: #ffffff;
  padding: 50px;
  font-size: 50px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 50px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.3);
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #ffffff;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: -25px;
  z-index: 10;
  position: relative;
}

.inspect-login-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 55%;
          flex: 1 0 55%;
  max-width: 55%;
  position: relative;
  background: url(../img/referring/kv-1.jpg) center no-repeat;
  background-size: cover;
}

@media (max-width: 991px) {
  .inspect-login-img {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 35%;
            flex: 1 0 35%;
    max-width: 35%;
  }
}

@media (max-width: 767px) {
  .inspect-login-img {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
    max-width: 0%;
    display: none;
  }
}

.inspect-operate {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 45%;
          flex: 1 0 45%;
}

@media (max-width: 991px) {
  .inspect-operate {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 65%;
            flex: 1 0 65%;
    max-width: 65%;
  }
}

@media (max-width: 767px) {
  .inspect-operate {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    max-width: 100%;
  }
}

.inspect-operate .inspect-operate-inner {
  padding: 30px 50px;
}

.inspect-operate .inspect-operate-inner form {
  margin: 30px 0;
}

.inspect-operate-title {
  position: relative;
}

.inspect-operate-title::after {
  content: "";
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  width: 100px;
  height: 4px;
  background-color: #0072EC;
}

.notice {
  border-top: 1px solid #e0e0e0;
  padding: 20px 0;
}

.notice h3 {
  margin-bottom: 20px;
}

.notice-list li {
  position: relative;
  padding: 4px 0;
  padding-left: 16px;
}

.notice-list li::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #000000;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.notice-list li a {
  text-decoration: underline;
  color: #0072EC;
}

.side-nav-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 18%;
          flex: 1 0 18%;
}

.side-nav-wrap::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
  opacity: 0;
  -webkit-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
  display: none;
}

@media (max-width: 991px) {
  .side-nav-wrap {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .side-nav-wrap.is-open .side-nav {
    left: 0;
  }
  .side-nav-wrap.is-open::after {
    opacity: 1;
    display: block;
  }
}

.side-nav {
  max-width: 18%;
  background-color: #ffffff;
  position: fixed;
  top: 58px;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  z-index: 99;
}

@media (max-width: 991px) {
  .side-nav {
    left: -100%;
    max-width: 100%;
  }
}

.side-nav .side-each {
  font-size: 14px;
  cursor: pointer;
}

.side-list .side-list-title {
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.side-list .side-list-title .icon {
  width: 12px;
  margin: auto 8px;
}

.side-list .side-list-title .text {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.side-list .side-list-title .title-icon {
  width: 20px;
  margin: auto 8px;
}

.side-main {
  padding: 8px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
}

.side-main:hover {
  background-color: rgba(218, 30, 40, 0.1);
  color: #DA1E28;
}

.side-main:hover .side-main-icon svg {
  fill: #DA1E28;
}

.side-main-icon {
  margin-left: 8px;
}

.side-main-icon svg {
  width: 18px;
}

.side-subs {
  padding: 8px 16px;
  padding-left: 32px;
}

.side-subs:hover {
  background-color: #e0e0e0;
  position: relative;
}

.side-subs:hover::after {
  content: "";
  width: 3px;
  height: 100%;
  background-color: #0072EC;
  position: absolute;
  left: 0;
  top: 0;
}

.slide-down-inner {
  height: 0;
  overflow: hidden;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.nav-toggle.is-open .side-list-title .icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.nav-toggle.is-open .slide-down-inner {
  height: auto;
}

.inspect-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 82%;
          flex: 1 0 82%;
}

@media (max-width: 991px) {
  .inspect-content {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
  }
}

.inspect-content .inspect-container {
  width: 95%;
  margin: 0 auto;
  padding: 20px 0 50px;
}

.inspect-content .inspect-btn {
  margin: 16px 0;
}

.form-end-btns {
  margin-top: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-end-btns .btns {
  margin-left: 20px;
}
/*# sourceMappingURL=style.css.map */