<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>危險性機械及設備檢查資訊管理系統－事業單位檢查申請</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style.css.map">

</head>

<body class="inspect-body">
    <header class="dark-mod">
        <div class="container-full">
            <div class="top-nav">
                <div class="mobile-nav">
                    <svg viewBox="0 0 448 512"><path fill="#fff" d="M0 96C0 78.33 14.33 64 32 64H416C433.7 64 448 78.33 448 96C448 113.7 433.7 128 416 128H32C14.33 128 0 113.7 0 96zM0 256C0 238.3 14.33 224 32 224H416C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H32C14.33 288 0 273.7 0 256zM416 448H32C14.33 448 0 433.7 0 416C0 398.3 14.33 384 32 384H416C433.7 384 448 398.3 448 416C448 433.7 433.7 448 416 448z"/></svg>
                </div>
                <div class="sha-logo">
                    <img src="../img/online/logo1.png" alt="">
                </div>
                <div class="sha-text">
                    <span>勞動部職業安全衛生署</span>
                    <p class="bold">危險性機械及設備檢查資訊管理系統－事業單位檢查申請</p>
                </div>
                <div class="sha-ips">目前使用者：維護廠商｜上次登入：1110221 17 : 59</div>
            </div>
        </div>
    </header>

    <main id="sideNav" class="inspect-mod">
        <div class="side-nav-wrap">
            <div class="side-nav">
                <div class="side-each">
                    <a href="../InspectLogin.html">
                        <div class="side-main">登出系統
                            <div class="side-main-icon">
                                <svg viewBox="0 0 24 24">
                                    <path d="M0,0H24V24H0Z" fill="none" />
                                    <path
                                        d="M5,5h6a1,1,0,0,0,1-1h0a1,1,0,0,0-1-1H5A2.006,2.006,0,0,0,3,5V19a2.006,2.006,0,0,0,2,2h6a1,1,0,0,0,1-1h0a1,1,0,0,0-1-1H5Z" />
                                    <path
                                        d="M20.65,11.65,17.86,8.86a.5.5,0,0,0-.86.35V11H10a1,1,0,0,0-1,1H9a1,1,0,0,0,1,1h7v1.79a.5.5,0,0,0,.85.35l2.79-2.79A.492.492,0,0,0,20.65,11.65Z" />
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="side-each">
                    <a href="InspectNotify.html">
                        <div class="side-main">最新公告</div>
                    </a>
                </div>
                <div class="side-each">
                    <a href="#">
                        <div class="side-main">客服專線</div>
                    </a>
                </div>
                <div class="side-each">
                    <a href="#">
                        <div class="side-main">問題反應</div>
                    </a>
                </div>
                <div class="side-each">
                    <a href="#">
                        <div class="side-main">修改登錄密碼及基本資料</div>
                    </a>
                </div>
                <div class="side-each">
                    <a href="#">
                        <div class="side-main">文件庫</div>
                    </a>
                </div>
                <div class="side-each">
                    <div class="side-main">危險性機械及設備檢查資訊管理系統</div>
                    <div class="side-list nav-toggle" v-for="(nav, i) in slide" :key="i"
                        :class="[{ 'is-open': i === 0 }]">
                        <div class="side-list-title">
                            <div class="title-icon">
                                <img :src="nav.icon" alt="">
                            </div>
                            <div class="text">{{nav.main}}</div>
                            <div class="icon">
                                <img src="../img/angle-down-solid.svg" alt="">
                            </div>
                        </div>
                        <ul class="slide-down-inner" v-for="(sub, i) in nav.subs" :key="i">
                            <li class="side-subs">
                                <a href="InspectAdd.html"><a href="InspectAdd.html">
                                        <div class="text">{{sub}}</div>
                                    </a></a>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>


        <div class="inspect-content">
            <div class="inspect-container">
                <div class="page-title">
                    <h3>一般檢查申請作業</h3>
                    <div class="page-title-btns">
                        <a href="InspectAdd.html" class="btns btn-blue">
                            <div class="text">新增</div>
                        </a>
                        <a href="InspectEdit.html" class="btns btn-black-blue">
                            <div class="text">修改</div>
                        </a>
                        <a href="InspectDelet.html" class="btns btn-black-blue">
                            <div class="text">刪除</div>
                        </a>
                        <a href="InspectSearch.html" class="btns btn-black-blue">
                            <div class="text">查詢</div>
                        </a>
                    </div>
                </div>

                <div class="block-title">
                    <h4>新增</h4>
                </div>
                <form class="form-wrap">
                    <div class="form-title">
                        <div class="flex-block">
                            <div class="text">
                                "<span>＊</span>" 標記者為必須填寫的欄位。
                            </div>
                            <div class="form-title-btn">
                                <a href="InspectAddDetail.html" class="d-flex">
                                    <div class="text">一般檢查申請明細管理</div>
                                    <div class="icon">
                                        <img src="../img/referring/check-icon.svg" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-body">
                        <div class="form-col col-sm-12 col-md-12">
                            <div class="form-name"><span>申請單號</span></div>
                            <div class="form-group">
                                <p>系統自動編號</p>
                            </div>
                        </div>
                        <div class="form-col col-sm-12 col-md-12">
                            <div class="form-name require"><span>申請日期</span></div>
                            <div class="form-group">
                                <input class="input-style" type="date">
                                <div class="input-hint w-50">(例：0980101)</div>
                            </div>
                        </div>
                        <div class="form-col col-sm-12 col-md-12">
                            <div class="form-name require"><span>申請項目</span></div>
                            <div class="form-group">
                                <select class="input-style">
                                    <option value="0">請選擇</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-col col-sm-12 col-md-12">
                            <div class="form-name require"><span>收件類別</span></div>
                            <div class="form-group">
                                <div class="input-radio">
                                    <input type="radio" id="device" name="dm" value="device" checked>
                                    <label for="device">設備</label>
                                </div>
                                <div class="input-radio">
                                    <input type="radio" id="machine" name="dm" value="machine">
                                    <label for="machine">機械</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-col col-sm-12 col-md-6">
                            <div class="form-name require"><span>事業單位檔號</span></div>
                            <div class="form-group">
                                <input class="input-style" type="text">
                                <a href="InspectAddChoose.html" class="input-hint w-50 d-block btns btn-black-blue"
                                    style="font-size: 14px;">
                                    <div class="text">選取事業單位</div>
                                </a>
                            </div>
                        </div>
                        <div class="form-col col-sm-12 col-md-6">
                            <div class="form-name"><span>統一編號</span></div>
                            <div class="form-group">
                                <p>1059002402</p>
                            </div>
                        </div>
                        <div class="form-col col-sm-12 col-md-12">
                            <div class="form-name"><span>事業單位名稱</span></div>
                            <div class="form-group">
                                <p></p>
                            </div>
                        </div>
                        <div class="form-col col-sm-12 col-md-12">
                            <div class="form-name"><span>通訊地址</span></div>
                            <div class="form-group">
                                <p></p>
                            </div>
                        </div>
                        <div class="form-col col-sm-12 col-md-6">
                            <div class="form-name"><span>公司電話</span></div>
                            <div class="form-group">
                                <p></p>
                            </div>
                        </div>
                        <div class="form-col col-sm-12 col-md-6">
                            <div class="form-name"><span>聯絡人</span></div>
                            <div class="form-group">
                                <p></p>
                            </div>
                        </div>
                        <div class="form-col col-sm-12 col-md-12">
                            <div class="form-name require"><span>申請檢查態樣</span></div>
                            <div class="form-group">
                                <select class="input-style">
                                    <option value="0">請選擇</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-col col-sm-12 col-md-12">
                            <div class="form-name"><span>檢查機構</span></div>
                            <div class="form-group">
                                <p>勞動部職業安全衛生署</p>
                            </div>
                        </div>
                        <div class="form-col col-sm-12 col-md-12">
                            <div class="form-name"><span>承辦人員</span></div>
                            <div class="form-group">
                                <select class="input-style">
                                    <option value="0">請選擇</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-col col-sm-12 col-md-6">
                            <div class="form-name"><span>建檔人員</span></div>
                            <div class="form-group">
                                <p>(勞動部職業安全衛生署)維護廠商</p>
                            </div>
                        </div>
                        <div class="form-col col-sm-12 col-md-6">
                            <div class="form-name"><span>建檔日期</span></div>
                            <div class="form-group">
                                <p>1110224</p>
                            </div>
                        </div>
                        <div class="form-col col-sm-12 col-md-6">
                            <div class="form-name"><span>修改人員</span></div>
                            <div class="form-group">
                                <p></p>
                            </div>
                        </div>
                        <div class="form-col col-sm-12 col-md-6">
                            <div class="form-name"><span>最後修改日期</span></div>
                            <div class="form-group">
                                <p></p>
                            </div>
                        </div>


                    </div>
                </form>

                <div class="form-end-btns">
                    <a href="InspectAdd.html" class="btns btn-blue">
                        <div class="text">新增</div>
                    </a>
                    <a href="InspectEdit.html" class="btns btn-black-blue">
                        <div class="text">修改</div>
                    </a>
                </div>
            </div>

            <footer class="light-gray">
                <div class="container">
                    <p>@ 系統版本：2022 Optimize Version 危險性機械及設備檢查資訊管理系統　建議使用1024 x 768 以上瀏覽本站以獲取最佳瀏覽效果。</p>
                </div>
            </footer>
        </div>


    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="../js/sidenave.js"></script>
    <script>
        $('.side-list-title').click(function () {
            $(this).parent('.nav-toggle').toggleClass('is-open');
        });

        $('.mobile-nav').click(function () {
            $('.side-nav-wrap').toggleClass('is-open');
        });
    </script>


</body>

</html>