<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>危險性機械及設備檢查資訊管理系統－事業單位檢查申請</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style.css.map">

</head>

<body class="inspect-body">
    <header class="dark-mod">
        <div class="container-full">
            <div class="top-nav">
                <div class="sha-logo">
                    <img src="../img/online/logo1.png" alt="">
                </div>
                <div class="sha-text">
                    <span>勞動部職業安全衛生署</span>
                    <p class="bold">危險性機械及設備檢查資訊管理系統－事業單位檢查申請</p>
                </div>
                <div class="sha-ips">目前使用者：維護廠商｜上次登入：1110221 17 : 59</div>
            </div>
        </div>
    </header>

    <main id="sideNav" class="inspect-mod">
        <div class="side-nav-wrap">
            <div class="side-nav">
                <div class="side-each">
                    <a href="../InspectLogin.html">
                        <div class="side-main">登出系統
                            <div class="side-main-icon">
                                <svg viewBox="0 0 24 24">
                                    <path d="M0,0H24V24H0Z" fill="none" />
                                    <path
                                        d="M5,5h6a1,1,0,0,0,1-1h0a1,1,0,0,0-1-1H5A2.006,2.006,0,0,0,3,5V19a2.006,2.006,0,0,0,2,2h6a1,1,0,0,0,1-1h0a1,1,0,0,0-1-1H5Z" />
                                    <path
                                        d="M20.65,11.65,17.86,8.86a.5.5,0,0,0-.86.35V11H10a1,1,0,0,0-1,1H9a1,1,0,0,0,1,1h7v1.79a.5.5,0,0,0,.85.35l2.79-2.79A.492.492,0,0,0,20.65,11.65Z" />
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="side-each">
                <a href="InspectNotify.html"><div class="side-main">最新公告</div></a>
                </div>
                <div class="side-each">
                    <a href="#"><div class="side-main">客服專線</div></a>
                </div>
                <div class="side-each">
                    <a href="#"><div class="side-main">問題反應</div></a>
                </div>
                <div class="side-each">
                    <a href="#"><div class="side-main">修改登錄密碼及基本資料</div></a>
                </div>
                <div class="side-each">
                    <a href="#"><div class="side-main">文件庫</div></a>
                </div>
                <div class="side-each">
                    <div class="side-main">危險性機械及設備檢查資訊管理系統</div>
                    <div class="side-list nav-toggle" v-for="(nav, i) in slide" :key="i" :class="[{ 'is-open': i === 0 }]">
                        <div class="side-list-title">
                            <div class="title-icon">
                                <img :src="nav.icon" alt="">
                            </div>
                            <div class="text">{{nav.main}}</div>
                            <div class="icon">
                                <img src="../img/angle-down-solid.svg" alt="">
                            </div>
                        </div>
                        <ul class="slide-down-inner" v-for="sub in nav.subs" :key="sub">
                            <li class="side-subs">
                                <a href="InspectAdd.html"><div class="text">{{sub}}</div></a>
                            </li>
                        </ul>
                    </div>
    
                </div>
    
            </div>
        </div>
        

        <div class="inspect-content">
            <div class="inspect-container">
                <div class="page-title">
                    <div class="page-title-img">
                        <img src="../img/referring/notify-icon.svg" alt="">
                    </div>
                    <h3>最新公告</h3>
                </div>
                <div class="inspect-btn">
                    <a href="#" class="btns btn-black">
                        <div class="text">檢查進度稽核</div>
                    </a>
                </div>
                <div class="notify">
                    <div class="notify-title">
                        <h4>系統公告</h4>
                    </div>
                    <div class="notify-content">
                        <div class="notify-block head green">
                            <div class="n-item sum">摘要</div>
                            <div class="n-item date">發佈日期</div>
                            <div class="n-item last number">共1筆</div>
                        </div>
                        <div class="notify-block">
                            <div class="n-item sum">
                                「既有危險性機械及設備安全檢查規則」部分條文本會業於101年9月19日以勞安2字第1010146224號令修正發布。既有危險性機械及設備安全檢查規則部分條文修正</div>
                            <div class="n-item date">1010920</div>
                            <div class="n-item last new green"></div>
                        </div>
                        <div class="notify-block">
                            <div class="n-item sum">
                                「既有危險性機械及設備安全檢查規則」部分條文本會業於101年9月19日以勞安2字第1010146224號令修正發布。既有危險性機械及設備安全檢查規則部分條文修正</div>
                            <div class="n-item date">1010920</div>
                            <div class="n-item last new green"></div>
                        </div>
                        <div class="notify-block">
                            <div class="n-item sum">
                                「既有危險性機械及設備安全檢查規則」部分條文本會業於101年9月19日以勞安2字第1010146224號令修正發布。既有危險性機械及設備安全檢查規則部分條文修正</div>
                            <div class="n-item date">1010920</div>
                            <div class="n-item last new green"></div>
                        </div>
                        <div class="notify-block">
                            <div class="n-item sum">
                                「既有危險性機械及設備安全檢查規則」部分條文本會業於101年9月19日以勞安2字第1010146224號令修正發布。既有危險性機械及設備安全檢查規則部分條文修正</div>
                            <div class="n-item date">1010920</div>
                            <div class="n-item last new green"></div>
                        </div>
                        <div class="notify-block">
                            <div class="n-item sum">
                                「既有危險性機械及設備安全檢查規則」部分條文本會業於101年9月19日以勞安2字第1010146224號令修正發布。既有危險性機械及設備安全檢查規則部分條文修正</div>
                            <div class="n-item date">1010920</div>
                            <div class="n-item last new green"></div>
                        </div>
                        <div class="notify-block">
                            <div class="n-item sum">
                                「既有危險性機械及設備安全檢查規則」部分條文本會業於101年9月19日以勞安2字第1010146224號令修正發布。既有危險性機械及設備安全檢查規則部分條文修正</div>
                            <div class="n-item date">1010920</div>
                            <div class="n-item last new green"></div>
                        </div>
                        <div class="notify-page">
                            <ul>
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="notify">
                    <div class="notify-title">
                        <h4>一般公告</h4>
                    </div>
                    <div class="notify-content">
                        <div class="notify-block head blue">
                            <div class="n-item sum">摘要</div>
                            <div class="n-item date">發佈日期</div>
                            <div class="n-item last number">共1筆</div>
                        </div>
                        <div class="notify-block">
                            <div class="n-item sum">
                                「既有危險性機械及設備安全檢查規則」部分條文本會業於101年9月19日以勞安2字第1010146224號令修正發布。既有危險性機械及設備安全檢查規則部分條文修正</div>
                            <div class="n-item date">1010920</div>
                            <div class="n-item last new blue"></div>
                        </div>
                        <div class="notify-block">
                            <div class="n-item sum">
                                「既有危險性機械及設備安全檢查規則」部分條文本會業於101年9月19日以勞安2字第1010146224號令修正發布。既有危險性機械及設備安全檢查規則部分條文修正</div>
                            <div class="n-item date">1010920</div>
                            <div class="n-item last new blue"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="../js/sidenave.js"></script>
    <script>
        $('.side-list-title').click(function (){
            $(this).parent('.nav-toggle').toggleClass('is-open');
        })
    </script>


</body>

</html>